.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 6.94%;
  height: 15vh;
}
.image {
  height: 62px;
}

.navigation {
  display: flex;
  gap: 57px;
}

.nav-link {
  text-decoration: none;
  color: #ff6060;
}

.nav-link.active {
  text-decoration: underline;
  color: #ff6060;
}

@media (max-width: 680px) {
  .banner {
    height: 10svh;
  }

  .image {
    max-height: 37px;
  }
  .navigation {
    gap: 20px;
    font-size: 12px;
  }
}
