/* card-details.css */
.details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 6.94%;
  margin-right: 6.94%;
  color: #ff6060;
}

.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-location > h2 {
  font-size: min(max(3vw, 20px), 36px);
  font-weight: 500;
  margin-bottom: 0;
}
.tags {
  font-size: min(max(1.9vw, 11px), 16px);
}
.host-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.host-name {
  width: 75px;
  font-size: 18px;
  text-align: right;
  /* Permet d'aligner le texte sur la droite */
  direction: rtl;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  margin-top: 0;
  font-size: 18px;
  font-weight: 500;
  top: 54.5%;
  padding-bottom: 0px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.rating {
  display: flex;
}

.star {
  color: #ff6060;
  font-size: 24px;
}

.red-star {
  color: #ff6060;
  font-size: 24px;
  width: 24.75px;
  margin-left: 15px;
}
.grey-star {
  color: #e3e3e3;
  font-size: 24px;
  width: 24.75px;
  margin-left: 15px;
}

@media (max-width: 680px) {
  .details-container {
    position: relative;
    height: auto;
  }
  .title-card {
    flex-direction: column;
    align-items: self-start;
    height: 168px;
    position: relative;
  }
  .host-info {
    align-self: self-end;
  }

  .host-name {
    font-size: min(max(3vw, 14px), 18px);
  }

  .tags-rating {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    top: -78px;
    height: auto;
  }

  .rating > i {
    margin-left: 0px !important;
    margin-right: 8px;
    font-size: 14px !important;
  }
  .fa-solid {
    width: 13px !important;
  }

  .host-image {
    width: min(max(7vw, 32px), 64px);
    height: min(max(7vw, 32px), 64px);
  }
  .title-and-location > h2 {
    font-size: min(max(3vw, 18px), 28px);
  }
  .location {
    font-size: min(max(3vw, 14px), 18px);
  }
  .tag {
    font-size: min(max(2.1vw, 8px), 14px);
    margin-right: 5px;
  }
}
@media (max-width: 320px) {
  .tag {
    font-size: 7px;
  }
}
