.footer-background {
  content: "";
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 50px 0;
}

.image-footer {
  height: 36px;
}

.footer-background > p {
  text-decoration: underline;
}

.footer {
  margin-top: 25px;
}

@media (max-width: 680px) {
  .footer {
    margin-top: 0;
  }
  .footer-background {
    padding-bottom: 35px;
    padding-top: 35px;
  }
}
