body {
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
  margin: auto;
  overflow-y: scroll;
}

/* Personnalisation de la barre de défilement */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}
/* 
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
} */
